
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit employee info </h2>
  <form th:action="@{/update}" method="POST">
    
    <div class="form-group">
      <label for="fname">First name:</label>
      <input th:value="${dto.firstName}" type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname"/>
    </div>
    
    <div class="form-group">
      <label for="lname">Last name:</label>
      <input th:value="${dto.lastName}" type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname"/>
    </div>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input th:value="${dto.email}" type="email" class="form-control" id="email" placeholder="Enter email" name="email"/>
    </div>
    
    <div class="form-group">
      <label for="id">Employee ID:</label>
      <input th:value="${dto.employeeId}" type="text" class="form-control" id="id" placeholder="Enter id" name="id"/>
    </div>
    
    <div class="form-group">
      <label for="manager">Manager:</label>      
      <select class="form-control" id="manager" name="manager">
      	<option th:each="dto:${managers}" th:value="${dto.employeeId}" th:text="${dto.managerName}"/>
      </select>
    </div>
    
    <button type="submit" class="btn btn-default"><span class ="glyphicon glyphicon-pencil"></span>Update</button>
    <button type="button" class="btn btn-default">Cancel</button>
	
  </form>
</div>

</body>
</html>
